%nav.navPrimary(role="navigation")
  = link_to "Home", "/#"
  = link_to "About Us", "/#aboutUs"
  = link_to "Services", "/#services"
  = link_to "Delivery", "/#delivery"
  / = link_to "Prices", "/#prices"
  = link_to "Contact", "/#contact"
